{% load i18n %}

<div id="questions_div">
<p>
    {% trans "To cast a vote, you will be led through the following steps." %}<br />
    {% trans "If you have not yet logged in, you will be asked to do so at the very end of the process." %}
<p>
    
<ol>
    <li> {% blocktrans %}<b>Select</b> your options.{% endblocktrans %}<br />
<span style="font-size: 14pt;">{% trans "Answer the questions, and review your choices." %}</span></li>
<br />

    <li> {% blocktrans %}<b>Encrypt</b> your selection.{% endblocktrans %}<br />
<span style="font-size: 14pt;">
  {% trans "Your selection is encrypted safely inside in your browser." %}<br />
  {% trans "A smart ballot tracker is given to let you track your ballot." %}<br />
</span>
</li>
<br />

    <li> {% blocktrans %}<b>Submit</b> your encrypted ballot.{% endblocktrans %}<br />
<span style="font-size: 14pt;">
{% trans "Proceed to log in and cast your encrypted ballot for tallying." %}
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Start</button></div>
</div>

