
<div id="questions_div">
<p>
    To cast a vote, you will be led through the following steps.<br />
    If you have not yet logged in, you will be asked to do so at the very end of the process.

<p style="font-size:120%">
    First of all, please <b>select your group</b> for this election:<br/>
    <select name="voter_group" id="id_voter_group" style="font-size:70%">
        <option value="none">--</option>
        {#foreach $T.election.questions[0].rules as rule}
        <option value="{$T.rule.group_id}">{$T.rule.group_name}</option>
        {#/for}
    </select>
    <span id="id_select_group_error" style="display:none; font-size:80%; color:red;">Please, select your group.</span>

<p>
    
<ol>
    <li> <b>Select</b> your options.<br />
<span style="font-size: 14pt;">Answer the questions, and review your choices.</span></li>
<br />

    <li> <b>Encrypt</b> your selection.<br />
<span style="font-size: 14pt;">
  Your selection is encrypted safely inside in your browser.<br />
  A smart ballot tracker is given to let you track your ballot.<br />
</span>
</li>
<br />

    <li> <b>Submit</b> your encrypted ballot.<br />
<span style="font-size: 14pt;">
Proceed to log in and cast your encrypted ballot for tallying.
</span>
</li>
</ol>

<div align="center">
<button onclick="return(BOOTH.check_group_selection())">Start</button>
</div>

</div>
