<h3>Verifique sua cédula</h3>

{#foreach $T.questions as question}
{#if $T.question.allowed == true}
<p style="font-size: 1.2em;">
<!--<u>Questão {$T.question$index + 1}</u>: {$T.question.short_name}<br />-->
<u>Questão #{$T.question.fake_num + 1}</u>: {$T.question.short_name}<br />

<b style="font-size:1.2em;">
{#foreach $T.choices[$T.question$index] as choice}
  {#if $T.choice == "Null vote"} Voto nulo
  {#elseif $T.choice == "White vote"} Voto branco
  {#else}{$T.choice}
  {#/if}
  {#if !$T.choice$last}, {#/if}
{#/for}
</b>
&nbsp;&nbsp;&nbsp;
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">alterar</a>]
</p>
{#/if}
{#/for}

<button onclick="BOOTH.seal_ballot();">Confirmar escolhas</button>
