<form onsubmit="return false;" class="prettyform" id="answer_form">
<input type="hidden" name="question_num" value="{$T.question_num}" />

<p>
<br /> 
<b>{$T.question.question}</b>
<br />
<span style="font-size: 0.6em;">
Seu grupo: {$T.group_name}<br/>

<!--Questão {$T.question_num + 1} de {$T.last_question_num + 1} &mdash;-->
Questão {$T.fake_num + 1} de {$T.num_allowed_questions} &mdash;

 selecione 
{#if $T.question.min && $T.question.min == $T.question.max}
 exatamente {$T.question.min} resposta{#if $T.question.min > 1}s{#/if}
{#else}
 {#if $T.question.min && $T.question.min > 0}
 pelo menos {$T.question.min} resposta{#if $T.question.min > 1}s{#/if}, 
 {#/if}
 {#if $T.question.max}
 no máximo {$T.question.max} resposta{#if $T.question.max > 1}s{#/if}
 {#else}
 tantas repostas quantas quiser
 {#/if}
{#/if}
</span>
</p>

{#foreach $T.question.answers as answer}
{#if $T.answer$index == $T.question.answers_length}
  <hr style="width:50%;" align="left"/>
{#/if}
<div id="answer_label_{$T.question_num}_{$T.answer$index}">
{#if $T.answer$index >= $T.question.answers_length}
<input type="checkbox" class="ballot_answer" id="answer_{$T.question_num}_{$T.answer$index}" 
       name="answer_{$T.question_num}_{$T.answer$index}" value="yes" 
       onclick="BOOTH.click_checkbox_nullwhite({$T.question_num}, {$T.answer$index}, this.checked);" /> 
{#else}
<input type="checkbox" class="ballot_answer" id="answer_{$T.question_num}_{$T.answer$index}" 
       name="answer_{$T.question_num}_{$T.answer$index}" value="yes" 
       onclick="BOOTH.click_checkbox({$T.question_num}, {$T.answer$index}, this.checked);" /> 
{#/if}
{#if $T.answer == "Null vote"}
	Voto nulo
{#elseif $T.answer == "White vote"}
	Voto branco
{#else}
	{$T.answer}
{#/if}

{#if $T.question.answer_urls && $T.question.answer_urls[$T.answer$index] && $T.question.answer_urls[$T.answer$index] != ""}
&nbsp;&nbsp;
<span style="font-size: 12pt;">
[<a target="_blank" href="{$T.question.answer_urls[$T.answer$index]}">mais informações</a>]
</span>
{#/if}
</div>
{#/for}

<div id="warning_box" style="color: green; text-align:center; font-size: 0.8em; padding-top:10px; padding-bottom: 10px; height:50px;">
</div>


{#if $T.show_reviewall}
<div style="float: right;">
<input type="button" onclick="BOOTH.validate_and_confirm({$T.question_num});" value="Proceed" />
</div>
{#/if}

{#if $T.question_num != 0}
<input type="button" onclick="BOOTH.previous({$T.question_num})" value="Previous" />
&nbsp;
{#/if}

{#if $T.question_num < $T.last_question_num && $T.question_num < $T.last_allowed_question}
<input type="button" onclick="BOOTH.next({$T.question_num})" value="Next" />
&nbsp;
{#/if}

<br clear="both" />

</form>
