<div style="display:none;">

<div style="float: right; background: lightyellow; margin-left: 20px; padding: 0px 10px 10px 10px; border: 1px solid #ddd; width:200px;">
<h4><a onclick="$('#auditbody').slideToggle(250);" href="#">Auditar</a> <span style="font-size: 0.8em; color: #444">[opcional]</span></h4>
<div id="auditbody" style="display:none;">
<p>
Se você escolher, você pode auditar sua cédula e revelar como suas escolhas são encriptadas.
</p>
<p>
Você, então, será guiado para reencriptar sua cédula e depositá-la.
</p>
<input type="button" value="Verify Encryption" onclick="BOOTH.audit_ballot();" class="pretty" />
</p>
</div>
</div>

<h3>Sua cédula foi encriptada com sucesso</h3>

</div>

<div style="display:none;">

<p>
Por favor, <b><u>mantenha uma cópia</u></b> do seu número de rastreamento de cédula [<a onclick="BOOTH.show_receipt(); return false;" href="#">imprimir</a>]
&nbsp; [<a target="_blank" href="mailto:?subject=Helios%20Receipt - {$T.election.name}&body=%0AThis is your smart ballot tracker for {$T.election.name}%0A%0A  {$T.encrypted_vote_hash}">email</a>]:<br /><br />

<b><tt style="font-size: 16pt;">&nbsp;&nbsp;&nbsp;{$T.encrypted_vote_hash}</tt></b><br /><br />

</p>

<p>
Para proteger sua privacidade:
<ul>
  <li> Helios ainda não pediu sua identificação.</li>
  <li> Ao clicar em "Prosseguir", Helios guardará apenas seu voto encriptado.</li>
  <li> Desta forma, apenas você sabe seu voto.</li>
</ul>
</p>

<button id="proceed_button" onclick="BOOTH.cast_ballot();">Prosseguir para depositar seu voto</button><br />
<div id="loading_div"></div>

</div>

<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<input type="hidden" name="voter_group_id" value="{$T.voter_group_id}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>

<script language="JavaScript">
  BOOTH.cast_ballot();
</script>
