{% load i18n %}
<span style="font-size:1.3em;">
{% trans "Please provide the voter ID and password you received by email." %}<br /><br />
</span>
<form method="post" action="{% url helios.views.password_voter_login election.uuid %}">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<table>
    {{password_login_form.as_table}}
    {% if voter_group_name %}
    <tr><th>{% trans "Voter Group" %}:</th><td>{{voter_group_name}}</td></tr>
    {% endif %}
</table>
{% if bad_voter_login %}
<p style="color: red; font-size: 1.2em;">
{% trans "Bad voter ID or password, please try again." %}
</p>
{% endif %}
<!--Group ID: {{ voter_group_id }}-->
{% if bad_voter_group %}
<p style="color: red; font-size: 1.2em;">
Informed voter group is incorrect.
</p>
{% endif %}
<br/>
<!--<input type="submit" value="check credentials" />-->
<input type="submit" style="width:8em; font-size:0.9em" value="OK" />
</form>
