{% extends "helios/templates/cryptobase.html" %}
{% load i18n %}

{% block title %}{% trans "Questions for" %} {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; {% trans "Questions" %} <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">{% trans "back to election" %}</a>]</span></h2>

  <script language="javascript">
{% if election.questions %}
  QUESTIONS = {{questions_json|safe}};
{% else %}
  QUESTIONS = [];
{% endif %}
{% if voter_groups %}
  GROUPS = [
  {% for group in voter_groups %}
    { "id": "{{ group.id }}", "name": "{{ group.group_name }}", "short_name": "{{ group.group_short_name }}" },
  {% endfor %}
  ];
{% else %}
  GROUPS = [];
{% endif %}
{% if admin_p and not election.frozen_at %}
  ADMIN_P = true;
{% else %}
  ADMIN_P = false;
{% endif %}

  CSRF_TOKEN = '{{csrf_token}}';

  function refresh() {
      $('#questions').processTemplate({'questions' : QUESTIONS, 'admin_p' : ADMIN_P, 'groups': GROUPS}); 

      add_answers($('#answer_table'),DEFAULT_NUM_ANSWERS);
      add_groups($('#answer_table'), null);

      // add groups to the questions
      for (var q_num = 0; q_num < QUESTIONS.length; q_num++) {
        var answer_table = $('#answer_table_' + q_num);
        add_groups(answer_table, q_num);
      }
 }
  
  function save_questions(callback) {
      $.post('./save_questions', {'questions_json' : $.toJSON(QUESTIONS), 'csrf_token': CSRF_TOKEN}, function(result) {
          callback();          
      });      
  }
  
  function get_question_from_form(form) {
      var max = null;
      if (form.max.value != "")
        max = parseInt(form.max.value);
        
      var new_q = {'question' : form.question.value, 'min': parseInt(form.min.value), 'max': max, 'rules': [], 'short_name': form.question.value, 'answers': [], 'answer_urls': [], 'null_vote': form.null_vote.checked, 'choice_type': form.choice_type.value, 'tally_type': 'homomorphic', 'result_type': form.result_type.value};
      var i = 0;
      while(true) {
          i += 1;
          if (!form['answer_' + i] || !form['answer_' + i].value)
            break;
          new_q.answers[i-1] = form['answer_' + i].value;
          new_q.answer_urls[i-1] = null;
      }
      
      if (form.null_vote.checked) {
          new_q.answers[i-1] = "Null vote";
          new_q.answer_urls[i-1] = null;
      }
      
      var rule = null;
      for (i = 0; i < GROUPS.length; i++) {
          var allow_group = form['allow_' + GROUPS[i].short_name].checked;
          var min = parseInt(form['min_' + GROUPS[i].short_name].value);
          var max = null;
          if (form['max_' + GROUPS[i].short_name].value != "")
            max = parseInt(form['max_' + GROUPS[i].short_name].value);
          rule = {"group_id": GROUPS[i].id, "group_short_name": GROUPS[i].short_name, 
            "group_name": GROUPS[i].name, "allow": allow_group, "min": min, "max": max};
          new_q.rules[i] = rule;
      }

      return new_q;
  }

  function question_add(form) {
      var new_q = get_question_from_form(form);
      QUESTIONS.push(new_q);
      save_questions(refresh);
  }
  
  function question_remove(q_num) {
      var new_questions = [];
      $(QUESTIONS).each(function(i, q) {
          if (i == q_num)
            return;
          new_questions.push(q);
      });
      QUESTIONS = new_questions;
      save_questions(refresh);
  }

  function question_edit(q_num) {
    $('#q_view_'+q_num).hide();
    $('#q_edit_'+q_num).show();

    // set the default values for this question
    var form = $('#question_edit_' + q_num + '_form');
    var q_data = QUESTIONS[q_num];
    form[0].min.value = q_data.min;
    form[0].max.value = q_data.max;
    form[0].question.value = q_data.question;
    form[0].result_type.value = q_data.result_type;

    // add the answers
    answers_bound = q_data.answers.length;
    if (q_data.null_vote) answers_bound--;
    var answer_table = $('#answer_table_' + q_num);
    var num_answers_form = answer_table.find('input.answer').length;
    if (answers_bound > num_answers_form)
      add_answers(answer_table, answers_bound - num_answers_form);
    $(q_data.answers).each(function(i, a) {
     if (i < answers_bound) form[0]['answer_' + (i+1)].value = a;
    });
    
    form[0].null_vote.checked = q_data.null_vote;

    // add the rules
    for (var i = 0; i < q_data.rules.length; i++) {
      var short_name = q_data.rules[i]['group_short_name'];
      var min = q_data.rules[i]['min'];
      var max = q_data.rules[i]['max'];
      var allow = q_data.rules[i]['allow'];
      form[0]['min_' + short_name].value = min;
      form[0]['max_' + short_name].value = max;
      form[0]['allow_' + short_name].checked = allow;
      if (!allow) {
        form[0]['min_' + short_name].disabled = true;
        form[0]['max_' + short_name].disabled = true;
      }
      else {
        form[0]['min_' + short_name].disabled = false;
        form[0]['max_' + short_name].disabled = false;
      }
    }
  
  }

  function question_edit_cancel(q_num) {
    $('#q_edit_'+q_num).hide();
    $('#q_view_'+q_num).show();
  }

  function question_update(q_num, form) {
      var new_q = get_question_from_form(form);
      QUESTIONS[q_num] = new_q;
      save_questions(refresh);
  }
  
  function click_allow_group(group_short_name, q_num, checked) {
    var form;
    if (q_num == '') form = $('#question_form');
    else form = $('#question_edit_' + q_num + '_form');
    var min = form[0]['min_' + group_short_name];
    var max = form[0]['max_' + group_short_name];
    if (!checked) {
      min.disabled = true;
      max.disabled = true;
    }
    else {
      min.disabled = false;
      max.disabled = false;
    }
  }

  var DEFAULT_NUM_ANSWERS = 5;

  function add_answer(el) {
    el = $(el);
    var num_answers = el.find('input.answer').length + 1;
    el.find('tbody').append('<tr><th>&nbsp;&nbsp;&nbsp;</th><th>{% trans "Answer #" %}' + num_answers + '</th><td><input type="text" class="answer" name="answer_' + num_answers + '" size="70" /></td></tr>');
  }

  function add_answers(el, num) {
    for (var i=0; i<num; i++)
      add_answer(el);
  }

  function question_move_up(num) {
    var temp_q = QUESTIONS[num];
    QUESTIONS[num] = QUESTIONS[num-1];
    QUESTIONS[num-1] = temp_q;
    save_questions(refresh);
  }

  function add_groups(el, q_num) {

    var num = GROUPS.length;
    if (num == 0) return;

    var tbody = el.find('tbody');

    tbody.prepend('<tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>');
    for (var i = num - 1; i >= 0; i--) {
      /* add group to table */
      var tr = $('<tr></tr>');

      var th = $('<th>' + GROUPS[i]['name'] + ':</th>');
      th.attr('colspan', '2');
      th.css('text-align', 'right');

      var aux = select_fields_string.replace(/#short_name#/g, GROUPS[i]['short_name']);
      var temp_string;
      if (q_num == null)
        temp_string = aux.replace(/#q_num#/g, '');
      else
        temp_string = aux.replace(/#q_num#/g, q_num);
      var td = $('<td>' + temp_string + '</td>');
      td.css('border', '0');

      th.appendTo(tr);
      td.appendTo(tr);
      tr.prependTo(tbody);
    }
    var tr = $('<tr><th colspan="2" style="text-align: right;"></th>\
                <th colspan="1" style="text-align: left;">&nbsp;&nbsp;&nbsp;{% trans "Rules" %}</th></tr>');
    tr.prependTo(tbody);
    //tbody.prepend('<tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>');
  }

  $(document).ready(function() {
      $('#questions').setTemplateURL("{% trans "/static/helios/static_templates/question.html" %}");

      refresh();
  });
  
var select_fields_string = 
'&nbsp;&nbsp;\n\
<input type="checkbox" name="allow_#short_name#" onclick="click_allow_group(\'#short_name#\', \'#q_num#\', this.checked);" checked="true"/>&nbsp;\n\
{% trans "select between" %} &nbsp;&nbsp;\n\
<select name="min_#short_name#">\n\
    <option selected>0</option>\n\
    <option>1</option>\n\
    <option>2</option>\n\
    <option>3</option>\n\
    <option>4</option>\n\
    <option>5</option>\n\
    <option>6</option>\n\
    <option>7</option>\n\
    <option>8</option>\n\
    <option>9</option>\n\
    <option>10</option>\n\
    <option>11</option>\n\
    <option>12</option>\n\
    <option>13</option>\n\
    <option>14</option>\n\
    <option>15</option>\n\
    <option>16</option>\n\
    <option>17</option>\n\
    <option>18</option>\n\
    <option>19</option>\n\
    <option>20</option>\n\
</select>\n\
\n\
&nbsp;&nbsp; {% trans "and" %}  &nbsp;&nbsp;\n\
\n\
<select name="max_#short_name#">\n\
    <option>0</option>\n\
    <option selected>1</option>\n\
    <option>2</option>\n\
    <option>3</option>\n\
    <option>4</option>\n\
    <option>5</option>\n\
    <option>6</option>\n\
    <option>7</option>\n\
    <option>8</option>\n\
    <option>9</option>\n\
    <option>10</option>\n\
    <option>11</option>\n\
    <option>12</option>\n\
    <option>13</option>\n\
    <option>14</option>\n\
    <option>15</option>\n\
    <option>16</option>\n\
    <option>17</option>\n\
    <option>18</option>\n\
    <option>19</option>\n\
    <option>20</option>\n\
    <option value="">- (approval)</option>\n\
</select>\n\
\n\
&nbsp;&nbsp;\n\
{% trans "answers" %}.'

  </script>

  <div id="questions">
  </div>
					
			<!-- end #content -->
{% endblock %}
