{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block content %}

  <h2 class="title">{% trans "Create a New Election" %}</h2>
  
{% if error %}
<p style="color: red;">
    {{error}}
</p>
{% endif %}
  
  <form class="prettyform" action="" method="POST" id="create_election_form">
    <table class="pretty">
     {{election_form.as_table}}
<tr>
<th><label for="id_voter_groups_0">{% trans "Voter groups" %}:</label></th>
<td>{{ group_formset.management_form }}
<ol style="margin-bottom:0;">
    {% for group_form in group_formset.forms %}
      <li><!--{{ group_form.errors }}-->
          {{ group_form.short_name.errors }}{{ group_form.name.errors }}{{ group_form.weight.errors }}
          {{ group_form.short_name.label_tag }}: {{ group_form.short_name }}&nbsp;&nbsp;&nbsp;&nbsp;
          {{ group_form.name.label_tag }}: {{ group_form.name }}&nbsp;&nbsp;&nbsp;&nbsp;
          {{ group_form.weight.label_tag }}: {{ group_form.weight }}<br /><br /></li>
    {% endfor %}
</ol>
{% blocktrans %}Short name must have <b>no spaces</b> and <b>no special characters</b>.{% endblocktrans %}
</td>
</tr>
     </table>
  <div>
  <label for="">&nbsp;</label><input type="submit" value="{% trans "Next" %} &gt;&gt;" id="next_button" />
  </div>
  </form>

{% endblock %}
